<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand underline" href="{{ site.baseurl }}/">lucasfacci.github.io</a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a id="blog" class="nav-link underline link-text" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
            </li>
            <li class="nav-item">
                <a id="projects" class="nav-link underline link-text" href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a>
            </li>
        </ul>
    </div>
</nav>